<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Connect_Java_With_JDBC/src/com/jdbc_java/Send_Data_To_Mysql_Using_java.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jdbc_java.Send_Data_To_Mysql_Using_java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Connect_Java_With_JDBC"/>
</launchConfiguration>
